<nlog internalLogLevel="Debug"
      internalLogFile="c:\temp\nlog-internal.txt"
      internalLogToConsole="true"
      throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<targets>
		<!--<target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log"
            layout="${longdate} ${level} ${message}" />-->

		<target xsi:type="File" name="logfile" fileName="logs\${shortdate}.csv"
			layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<!--<target xsi:type="Database" name="logdatabase"
        dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        connectionString="Server=(local); Database=FreelancerDb; Integrated Security=True; TrustServerCertificate=True"
		commandText="INSERT INTO Logs (date,level,message,machinename,logger) VALUES
		(@date, @level, @message, @machinename, @logger);">

			<parameter name="@date" layout="${longdate}" dbType="DateTime" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@machinename" layout="${machinename}" />
		</target>-->


		<target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        connectionString="Server=(local); Database=FreelancerDb; Integrated Security=True; TrustServerCertificate=True">
			<!--<connectionString>server=localhost;Database=*****;user id=****;password=*****</connectionString>-->

			<!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

			<commandText>
				insert into dbo.Log (
				MachineName, Logged, Level, Message,
				Logger, Exception
				) values (
				@MachineName, @Logged, @Level, @Message,
				@Logger, @Exception
				);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>


	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>